// Estilos de la sección "Sobre mí"
.custom-list {
    list-style: none;
    padding-left: 0;
}

.custom-number {
    margin-top: 50px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #44c59a;
    color: white;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    font-size: 1.2em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.sobre-mi h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    background-color: rgb(68, 197, 154, 0.4);
}

.sobre-mi li {
    font-size: large;
    font-family: 'Lato', sans-serif;
    text-decoration: solid;
    text-transform: capitalize;
    background-color: rgb(255, 228, 196, 0.4);
}

// Estilos del carrusel de certificaciones
.carousel {
    width: 40%;
    margin-top: 100px;
}

.carousel img {
    width: auto;
}

// Estilos del navbar
.navbar {
    height: 120px;
    background-image: linear-gradient(100deg,
            #afe7a7 0,
            #9fe5a9 12.5%,
            #8adea7 25%,
            #6ed3a2 37.5%,
            #44c59a 50%,
            #00b693 62.5%,
            #00ab92 75%,
            #00a495 87.5%,
            #00a09c 100%);
}

.img-navbar {
    height: 80px;
}

.titulo-head {
    color: black;
    font-size: x-large;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: black !important;
    transition: color 0.3s ease !important;
    font-family: 'Lato', sans-serif;
}

.nav-link:hover {
    color: bisque !important;
}

// Estilos para la vista móvil
@media (max-width: 575px) {
    .navbar-collapse {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        background-color: #44c59a;
        z-index: 1000;
        display: none;
    }

    .navbar-toggler {
        display: block;
        background-color: #44c59a;
    }

    .navbar-toggler-icon {
        color: #44c59a;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-nav .nav-item {
        margin: 0;
    }

    .navbar-nav .nav-link {
        padding: 10px 15px;
        text-align: center;
    }

    .navbar-collapse.show {
        display: block;
    }
}