@import "_navbar";
@import "_inicio";
@import "_contacto";
@import "_faq";
@import "_servicios";
@import "_sobre-mi";
@import "_footer";

// Estilos globales
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Imagenes/background\ image.jpg);
    background-size: auto;
}